{% load static %}
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/adwa.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CONTACT</title>
</head>
<body>
    <style>
    body,h1 {font-family: "Raleway", Arial, sans-serif}
    h1 {letter-spacing: 6px}
    .adwa-row-padding img {margin-bottom: 12px}
    </style>
    </head>
    <body>
    
    <!-- !PAGE CONTENT! -->
    <div class="adwa-content" style="max-width:1500px">
    
    <!-- Header -->
    <header class="adwa-panel adwa-pale-green adwa-center adwa-opacity adwa-bottombar adwa-border-teal" style="padding:90px 16px">
      <h1 class="adwa-xlarge">FINANCIAL ADVISOR</h1>
      <h1 class="adwa-tag adwa-lime adwa-leftbar adwa-topbar adwa-border-teal">WEDAJ</h1>
      <br><br>
      <div class="adwa-padding-left adwa-padding-right">
        <div class="adwa-bar adwa-responsive">
          <a href="/" class="adwa-bar-item adwa-button">Home</a>
          <a href="about" class="adwa-bar-item adwa-button adwa-hover-green">About</a>
          <a href="contact" class="adwa-hover-green adwa-light-green adwa-bar-item adwa-button adwa-padding-right adwa-rightbar adwa-border-teal">Contact</a>
          {% if not user.is_authenticated %}
          <a href="accounts/login" class="adwa-bar-item adwa-button adwa-hover-green">Login</a>
          <a href="accounts/register" class="adwa-bar-item adwa-button adwa-hover-green">Register</a>
          {% else %}
          <a href="accounts/logout" class="adwa-bar-item adwa-button">Logout</a> 
          <span class="adwa-bar-item adwa-lime">Welcome {{user.username}} <i class="fa fa-user"></i></span>
          {% endif %}
        </div>
      </div>
    </header>

<h3 class="adwa-center adwa-text-light-green">CONTACT</h3> 

<div class="adwa-main adwa-center adwa-round-large adwa-border adwa-code adwa-border-teal adwa-panel adwa-margin">     
  <div class="adwa-text-teal adwa-large adwa-margin-bottom">
          <i class="fa fa-map-marker adwa-text-light-green fa-fw adwa-hover-text-black adwa-xlarge adwa-margin-right"></i> Addis Ababa, ET<br>
          <i class="fa fa-phone fa-fw adwa-text-light-green adwa-hover-text-black adwa-xlarge adwa-margin-right"></i> Phone: +251 943076155<br>
          <i class="fa fa-envelope fa-fw adwa-text-light-green adwa-hover-text-black adwa-xlarge adwa-margin-right"></i> Email: bayush166@gmail.com<br>
        </div>
      </div>

<!-- Footer -->
<footer class="adwa-container adwa-padding-32 adwa-theme-d1 adwa-center">
    <h4>Follow Us</h4>
    <a class="adwa-button adwa-large adwa-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="adwa-button adwa-large adwa-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="adwa-button adwa-large adwa-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
    <a class="adwa-button adwa-large adwa-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    <a class="adwa-button adwa-large adwa-teal adwa-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
    <br>
  
    <div style="position:relative;bottom:100px;z-index:1;" class="adwa-tooltip adwa-right">
      <span class="adwa-text adwa-padding adwa-teal adwa-hide-small">Go To Top</span>   
      <a class="adwa-button adwa-theme" href="#"><span class="adwa-xlarge">
      <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
  </footer>

</div>

</body>
</html>